<mat-icon>menu</mat-icon>
<button mat-raised-button>Say Hello</button>
<mat-toolbar class="navbar">
    <div>Service</div>
    <div class="navbar__links">
        <span [matMenuTriggerFor]='navmenu'>Business Unit</span>
        <span>Channel</span>
        <span>Products</span>
        <span>Time</span>
    </div>
</mat-toolbar>

<mat-menu #navmenu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-card class="pending-transactions">
    <mat-card-title>
        <span><mat-icon id="more-icon">more_horiz</mat-icon></span> 
        <span><mat-icon id="heading-icon">error</mat-icon></span> 
    </mat-card-title>
    <mat-card-content>
        <span class="pending-transactions__figure">80</span>
        <span class="mat-title">Pending Transactions</span>
        <span class="italic">Revenue equivqlent </span>
        <span class="num">- N500,000,000</span>
    </mat-card-content>
    
    <mat-card-footer>
        <button mat-button>View All <mat-icon>arrow_right</mat-icon> </button>
    </mat-card-footer>
</mat-card>

<mat-card>
    <canvas id="pieChart"></canvas>
</mat-card>